.body1 {
    background-color: lightgreen;
}

.body2 {
background-color: #CD5700;
}

h1 {
    color: Darkgreen;
    font-family: Comic Sans MS;
    text-align:center;
}

h2,a {
    color: orange;
    font-family: Comic Sans MS;
}

table {
    color: black;
    font-family: Comic Sans MS;
}

.accordion {
    background-color: green;
    color: orange;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-family: Comic Sans MS;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #f7915e;
    overflow: hidden;
    color: black;
    font-size: 20px;
}

pre     {    font-family: Verdana;  }
p        { font-size: 20px; }

#firsts { 
  background-color: white; 
}
#seconds { 
   text-align: justify; 
   background-color: #f7915e; 
}
#thirds{
   text-align: center;
   background-color: white; 
}

a:link 
{
     text-decoration:none;
     color:green;
}
a:visited 
{
     text-decoration:none;
     color:green;
}
a:hover 
{
     text-decoration:underline;
     color:red;
     font-size:1.1em;
}
a:active 
{
     text-decoration:none;
     color:red;
     font-size:1.1em;
}

@keyframes anim {
from {margin-top: 250px;}
to {margin-top: 22px;}
}


#AN {
animation:anim 3s 1;
}

#J1 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

.button  {
color: darkgreen;
font-family: Comic Sans MS;
 background-color: orange; 
 border: 5px solid darkgreen;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
border-radius: 12px;
}
.button:hover  {
color: orange;
background-color: darkgreen;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
